<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FBN</display-name>
  <servlet>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.fbn.controler.SignupServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>UpdateFareServlet</display-name>
    <servlet-name>UpdateFareServlet</servlet-name>
    <servlet-class>com.fbn.controler.UpdateFareServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>BookFlightServlet</display-name>
    <servlet-name>BookFlightServlet</servlet-name>
    <servlet-class>com.fbn.controler.BookFlightServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>UpdateFlightServlet</display-name>
    <servlet-name>UpdateFlightServlet</servlet-name>
    <servlet-class>com.fbn.controler.UpdateFlightServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>DeleteFlightServelet</display-name>
    <servlet-name>DeleteFlightServelet</servlet-name>
    <servlet-class>com.fbn.controler.DeleteFlightServelet</servlet-class>
  </servlet>
  <servlet>
    <display-name>DeleteUserServelet</display-name>
    <servlet-name>DeleteUserServelet</servlet-name>
    <servlet-class>com.fbn.controler.DeleteUserServelet</servlet-class>
  </servlet>
  <servlet>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.fbn.controler.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fbn.controler.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>UpdateCustomerAccountServlet</display-name>
    <servlet-name>UpdateCustomerAccountServlet</servlet-name>
    <servlet-class>com.fbn.controler.UpdateCustomerAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>UpdateUserAccountServlet</display-name>
    <servlet-name>UpdateUserAccountServlet</servlet-name>
    <servlet-class>com.fbn.controler.UpdateUserAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FlightConfigurationServlet</display-name>
    <servlet-name>FlightConfigurationServlet</servlet-name>
    <servlet-class>com.fbn.controler.FlightConfigurationServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SaveCustomerRequest</display-name>
    <servlet-name>SaveCustomerRequest</servlet-name>
    <servlet-class>com.fbn.controler.SaveCustomerRequest</servlet-class>
  </servlet>
  <servlet>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.fbn.controler.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FareConfigurationServlet</display-name>
    <servlet-name>FareConfigurationServlet</servlet-name>
    <servlet-class>com.fbn.controler.FareConfigurationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomerAccountServlet</servlet-name>
    <url-pattern>/UpdateCustomerAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserAccountServlet</servlet-name>
    <url-pattern>/UpdateUserAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlightConfigurationServlet</servlet-name>
    <url-pattern>/FlightConfigurationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveCustomerRequest</servlet-name>
    <url-pattern>/SaveCustomerRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FareConfigurationServlet</servlet-name>
    <url-pattern>/FareConfigurationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFlightServlet</servlet-name>
    <url-pattern>/UpdateFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServelet</servlet-name>
    <url-pattern>/DeleteUserServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFlightServelet</servlet-name>
    <url-pattern>/DeleteFlightServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFareServlet</servlet-name>
    <url-pattern>/UpdateFareServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookFlightServlet</servlet-name>
    <url-pattern>/BookFlightServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>